<div class="container">
  <h1>Welcome {{user.firstName}}</h1>
  <h4>Your Stories</h4>
  <div>
    <a href="/stories/add" class="btn-floating btn-large red">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
